<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Пользователи</h1>
    {% for user in users %}
        Имя: {{ user.username }}, пол: {{ user.gender }}<br>
        кому нравится: 
        {% for following in user.following.all %}
            {{ following.user }},
        {% endfor %}
        <br>
        кто нравится:
        {% for follower in user.follower.all %}
            {{ follower.liking }},
        {% endfor %}
        <br>
        расстояние:
        {% for key, value in distances.items %}
            {% if key == user %}
                {{ value }} км
            {% endif %}
        {% endfor %}
        <br>
        <img src="{{ user.user_image.url }}" width=200px><br>
        <hr>
    {% endfor %}
</body>

</html>